@page "/curriculo-enzo"

<h3>Curriculo_Enzo</h3>

<PageTitle>Curriculo do Enzo Koji</PageTitle>

<div style="display: flex; gap: 20px; align-items: flex-start; margin-top: 20px;">

    <img src="avatar.png" alt="Foto de perfil genérica" style="width: 150px; height: 150px; border-radius: 8px; border: 1px solid #ccc;" />

    <div>
        <p><strong>Nome:</strong> Enzo Koji Yajima Vicente</p>
        <p><strong>Email:</strong> enzoyajima@email.com</p>
        <p><strong>Telefone:</strong> (69) 98493-7549</p>

        
        <h4>Formação</h4>
        <ul>
            <li>Curso Técnico em Informática - IFRO (em andamento)</li>
        </ul>

        <h4>Experiência</h4>
        <ul>
            <li>Estágio em Suporte Técnico - 2025</li>
        </ul>

        <h4>Habilidades</h4>
        <ul>
            <li>HTML, CSS, C#, Blazor</li>
            <li>Boa comunicação, proatividade, trabalho em equipe</li>
        </ul>
    </div>
</div>

@code {

}